*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
header{
    background-image: url(images/bg\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: end;
}
.nav-link{
    font-weight: 500;
} 
img{
    max-width: 100%;
}
label{
    font-weight: 500;
    line-height: 3;
}
input{
    padding: 5px;
}
option:hover{
    background-color: #B88E2F;
}
textarea[name="foo"]{
    resize: none;
    max-width: 100%;
    padding: 5px;
}
.column{
    grid-row: 1;
}
.feature{
    background-color: #FAF3EA;
    padding: 60px 0px;
}
.fa-trophy,.fa-box-archive,.fa-headset{
    font-size: 60px;
}
tr, td{
    height: 50px;
    width: 300px;
    max-width: 100%;
}
.dot{
    height:15px; 
    width:15px; 
    border-radius: 50%;
    background-color: black; 
    display: inline-block;
}
.circle{
    height:15px; 
    width:15px; 
    border: 2px solid #9F9F9F;
    border-radius: 50%; 
    display: inline-block;
}
.order-btn{
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    width: 300px; 
    text-align: center;
    height: 60px;
    padding: 15px;
    font-weight: 500;
}
footer ul, ol{
    padding-left: 15px !important;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
footer ul li{
    padding-bottom: 20px;
}
.subscribe{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 0px 2px;
}

footer input{
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    outline: none;
}
