*{
    padding: 0px;
    margin: 0px;
    font-family: poppins;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.nav-link{
    font-weight: 500;
} 
header{
    background-image: url(images/bg\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: end;
}

.rooms{
    background-color: #FCF8F3;
}
.hover{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.452);
    position: absolute;
    right: -100%;
    top: 0;
    display: flex;
    transition: .8s;
}
.item-card{
    overflow:hidden;
}
.item-card:hover .hover{
    right: 0;
}
.fa-arrow-right-long{
    background-color: #FFFFFFB8;
    position: absolute;
    top: 83.7%;
    right: 27.5%;
    font-size: xx-large;
    padding: 10px;
    color: white;
    background-color: #B88E2F;
}
ul, ol{
    padding-left: 15px !important;
}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

footer ul li{
    padding-bottom: 20px;
}
.subscribe{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 0px 2px;
}

input{
    border: none;
    border-bottom: 2px solid black;
    width: 250px;
    outline: none;
}
